.footer{
   background-color:rgb(38,38,38);
   color:#fff;
   display: flex;
   justify-content: space-between;
   padding:15px 0;
   width: 100%;
}
.footer p{
    text-align: center;
    display: flex;
    margin-left: 50px;
}
.socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    gap:10px;
  
}
.socialIcons img{
    cursor: pointer;  
   
}